@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  #root {
    @apply w-full h-full flex md:flex-row flex-col items-center;
  }

  body {
    @apply bg-dark text-white;
  }
}

@layer components {
  .navigation-button {
    @apply w-10 h-10 flex items-center md:justify-center rounded-lg cursor-pointer transition-colors duration-200 ease-in-out hover:bg-darkAlt2 focus:bg-darkAlt2;
  }
  .active-path {
    @apply bg-purple focus:bg-purple hover:bg-purple max-md:w-full max-md:px-2;
  }

  .form-group {
    @apply flex flex-col text-gray;
  }

  .form-input {
    @apply w-full min-h-[42px] px-4 py-2 bg-darkAlt rounded-lg text-white font-normal outline-none;
  }
}

/* Custom styles */

.form-group {
  @apply gap-3;
}
.form-group > legend {
  @apply text-label font-semibold mb-3;
}
.form-slider {
  @apply w-full h-2 bg-darkAlt rounded appearance-none outline-none;
}

.form-slider::-webkit-slider-thumb,
.form-slider::-moz-range-thumb {
  @apply w-5 h-5 bg-purple rounded-full cursor-pointer appearance-none shadow-lg shadow-purple/60 transition-all duration-200;
}

.form-slider::-webkit-slider-thumb:hover,
.form-slider::-moz-range-thumb:hover {
  @apply shadow-xl shadow-purple/80;
}

textarea.form-input {
  @apply block;
  height: 42px;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
  writing-mode: horizontal-tb;
}

@supports (-webkit-appearance: none) {
  textarea.form-input {
    min-height: unset;
    height: 42px;
    box-sizing: border-box;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
}

.hamburger .line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
  transition: all 0.3s;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
